.swatch {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 1em 1.5em;
}

.swatch-blue {
  background-color: #334051;
}

.swatch-orange {
  background-color: #F8A076;
}

.swatch-teal {
  background-color: #6FC6BE;
}

body {
  max-width: 1000px;
  margin: 0 auto;
  font-family: "Oxygen", Helvetica, Arial, sans-serif;
  color: #334051;
}

body img {
  width: 50%;
}

h1 {
    font-family: "Bree Serif", serif;
    color: #F8A076;
    font-size: 2em;
  }

h2 {
    font-family: "Bree Serif", serif;
    color: #F8A076;
    font-size: 1.5em;
  }

h3 {
    font-family: 'Oxygen', sans-serif;
    color: #6FC6BE;
    font-size: 1.25em;
  }

p {
    font-family: 'Oxygen', sans-serif;
    color: #6FC6BE;
    font-size: 1em;
  }

aside {
  	border-top: 2px solid lightgray;
  	padding: 1px;
  }

@media screen and (min-width: 800px){
  ul.swatches {
    list-style-type: none;
    display: flex;
  }

  .swatches {
    list-style-type: none;
    display: flex;
  }
}

.line-separator{
    height:1px;
    background:#717171;
    border-bottom:1px solid #313030;
}
